## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [5]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [7]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [9]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [11]:
# Use this space to do any additional research
# and familiarize yourself with the data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [13]:
# What three item categories had the most entries?
df["category"].value_counts()
# consumables, furniture, software

category
consumables    23538
furniture      11915
software        8400
decor           7954
electronics     2832
Name: count, dtype: int64

In [15]:
# For the category with the most entries, which subcategory had the most entries?
most_entries_df = df.loc[df["category"]== "consumables"]
most_entries_df["subcategory"].value_counts()

# bathroom suppliers

subcategory
bathroom supplies    6424
paper products       5874
kitchen supplies     5746
misc                 2891
pens                 2603
Name: count, dtype: int64

In [17]:
# Which five clients had the most entries in the data?
series = df["client_id"].value_counts().head()
series

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [19]:
series.keys()

Index([33615, 66037, 46820, 38378, 24741], dtype='int64', name='client_id')

In [21]:
# Store the client ids of those top 5 clients in a list.
top_client_df = df["client_id"].value_counts().reset_index()
top_client_df["client_id"]

0      33615
1      66037
2      46820
3      38378
4      24741
       ...
994    70734
995    32001
996    77583
997    76017
998    94987
Name: client_id, Length: 999, dtype: int64

In [23]:
top_client = [33615, 66037, 46820, 38378, 24741]

In [25]:
# How many total units (the qty column) did the client with the most entries order order?
df[df["client_id"] ==33615]["qty"].sum()

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [27]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df["line_subtotal"] = df["unit_price"]* df["qty"]
df["total_weight"] = df["unit_weight"]*df["qty"]
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95,31.29
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28,65.52
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18,35.67
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00,928.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29,74.25
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,549.90
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,1976.00
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76,2020.48
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31,2134.17

In [29]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
def shipping_cal (pound):
    if pound > 50:
        return 7 * pound
    return 10 * pound
df["shipping price"] = df["total_weight"].apply(shipping_cal)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,35.67,356.70
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,software,logistics,83.13,51.60,2.25,33,8,2743.29,74.25,519.75
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,549.90,3849.30
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,1976.00,13832.00
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,furniture,stands,1.48,1.22,18.04,112,0,165.76,2020.48,14143.36
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,software,project management,3.01,1.61,2.07,1031,5,3103.31,2134.17,14939.19

In [31]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df["line_price"] = round((1 + 0.0925) * (df["line_subtotal"] + df["shipping price"]), 2)
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping price,line_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,35.67,356.70,1543.57
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,logistics,83.13,51.60,2.25,33,8,2743.29,74.25,519.75,3564.87
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,549.90,3849.30,14813.24
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,1976.00,13832.00,49184.90
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,stands,1.48,1.22,18.04,112,0,165.76,2020.48,14143.36,15632.71
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,project management,3.01,1.61,2.07,1031,5,3103.31,2134.17,14939.19,19711.43

In [33]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df["line_cost"] = df["unit_cost"]* df["qty"] + df["shipping price"]
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping price,line_price,line_cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,35.67,356.70,1543.57,1077.35
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.40,8663.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,83.13,51.60,2.25,33,8,2743.29,74.25,519.75,3564.87,2222.55
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,206.59,175.46,11.70,47,0,9709.73,549.90,3849.30,14813.24,12095.92
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,65.66,57.31,4.16,475,6,31188.50,1976.00,13832.00,49184.90,41054.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.48,1.22,18.04,112,0,165.76,2020.48,14143.36,15632.71,14280.00
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,3.01,1.61,2.07,1031,5,3103.31,2134.17,14939.19,19711.43,16599.10

In [35]:
# Create a column for the profit of each line using line cost and line price
df["line_profit"] = df["line_price"] - df["line_cost"]
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping price,line_price,line_cost,line_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05,46242.03
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79,284.47
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18,311.94
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,24.85,1.23,29,3,1056.18,35.67,356.70,1543.57,1077.35,466.22
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.40,8663.60,2700.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,51.60,2.25,33,8,2743.29,74.25,519.75,3564.87,2222.55,1342.32
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,175.46,11.70,47,0,9709.73,549.90,3849.30,14813.24,12095.92,2717.32
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,57.31,4.16,475,6,31188.50,1976.00,13832.00,49184.90,41054.25,8130.65
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.22,18.04,112,0,165.76,2020.48,14143.36,15632.71,14280.00,1352.71
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,1.61,2.07,1031,5,3103.31,2134.17,14939.19,19711.43,16599.10,3112.33

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [37]:
# Check your work using the totals above
df.loc[df["order_id"] == 2742071]["line_price"].sum()

152811.88999999998

In [39]:
df.loc[df["order_id"] == 2173913]["line_price"].sum()

162388.71

In [41]:
df.loc[df["order_id"] == 6128929]["line_price"].sum()

923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [43]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
top_client = [33615, 66037, 46820, 38378, 24741]

result_price = {}
for client in top_client:
    result_price[client] = df.loc[df["client_id"] == client]["line_price"].sum()

In [45]:
result_price

{33615: 8377308.520000001,
 66037: 10259514.79,
 46820: 9743794.36,
 38378: 12906550.869999997,
 24741: 82268892.02000001}

In [83]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
top_client = [33615, 66037, 46820, 38378, 24741]

total_units = {}
total_shipping = {}
total_revenue = {}
total_cost = {}
total_profit = {}
for client in top_client:
    total_units[client] = df.loc[df["client_id"] == client]["qty"].sum()
    total_shipping[client] = df.loc[df["client_id"] == client]["shipping price"].sum()
    total_revenue[client] = df.loc[df["client_id"] == client]["line_price"].sum()
    total_cost[client] = df.loc[df["client_id"] == client]["line_cost"].sum()
    total_profit[client] = df.loc[df["client_id"] == client]["line_profit"].sum()

In [85]:
total_units

{33615: 64313, 66037: 43018, 46820: 75768, 38378: 73667, 24741: 239862}

In [87]:
total_shipping

{33615: 1828984.89,
 66037: 1395151.8499999999,
 46820: 1601448.8399999999,
 38378: 3429455.4000000004,
 24741: 5126448.37}

In [89]:
total_revenue

{33615: 8377308.520000001,
 66037: 10259514.79,
 46820: 9743794.36,
 38378: 12906550.869999997,
 24741: 82268892.02000001}

In [95]:
total_cost

{33615: 6175313.91,
 66037: 7004482.98,
 46820: 7007191.640000001,
 38378: 9634720.979999999,
 24741: 45688899.71}

In [97]:
total_profit

{33615: 2201994.61,
 66037: 3255031.8100000005,
 46820: 2736602.7199999997,
 38378: 3271829.8899999997,
 24741: 36579992.309999995}

In [101]:
new_df = pd.DataFrame({
    "chain_id": total_units.keys(),
    "qty": total_units.values(),
    "shipping_price": total_shipping.values(),
    "line_price": total_revenue.values(),
    "line_cost": total_cost.values(),
    "line_profit":total_profit.values()
})

new_df

   chain_id     qty  shipping_price   line_price    line_cost  line_profit
0     33615   64313      1828984.89   8377308.52   6175313.91   2201994.61
1     66037   43018      1395151.85  10259514.79   7004482.98   3255031.81
2     46820   75768      1601448.84   9743794.36   7007191.64   2736602.72
3     38378   73667      3429455.40  12906550.87   9634720.98   3271829.89
4     24741  239862      5126448.37  82268892.02  45688899.71  36579992.31

In [133]:
# Format the data and rename the columns to names suitable for presentation.
rename_df = new_df.rename(columns = { "chain_id": "Client ID", "qty": "Units", "shipping_price": "Shipping (millions)", 
                         "line_price": "Total Revenue (millions)", "line_cost": "Total Cost (millions)",
                         "line_profit": "Total Profit (millions)"})
                         
rename_df

,Client ID,Units,Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
0,33615,64313,1828984.89,8377308.52,6175313.91,2201994.61
1,66037,43018,1395151.85,10259514.79,7004482.98,3255031.81
2,46820,75768,1601448.84,9743794.36,7007191.64,2736602.72
3,38378,73667,3429455.40,12906550.87,9634720.98,3271829.89
4,24741,239862,5126448.37,82268892.02,45688899.71,36579992.31

In [143]:
# Define the money columns. 
money_columns = [rename_df["Shipping (millions)"], rename_df["Total Revenue (millions)"], rename_df["Total Cost (millions)"],
                 rename_df["Total Profit (millions)"]]
money_columns

[0    1828984.89
 1    1395151.85
 2    1601448.84
 3    3429455.40
 4    5126448.37
 Name: Shipping (millions), dtype: float64,
 0     8377308.52
 1    10259514.79
 2     9743794.36
 3    12906550.87
 4    82268892.02
 Name: Total Revenue (millions), dtype: float64,
 0     6175313.91
 1     7004482.98
 2     7007191.64
 3     9634720.98
 4    45688899.71
 Name: Total Cost (millions), dtype: float64,
 0     2201994.61
 1     3255031.81
 2     2736602.72
 3     3271829.89
 4    36579992.31
 Name: Total Profit (millions), dtype: float64]

In [137]:
rename_df

,Client ID,Units,Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
0,33615,64313,1828984.89,8377308.52,6175313.91,2201994.61
1,66037,43018,1395151.85,10259514.79,7004482.98,3255031.81
2,46820,75768,1601448.84,9743794.36,7007191.64,2736602.72
3,38378,73667,3429455.40,12906550.87,9634720.98,3271829.89
4,24741,239862,5126448.37,82268892.02,45688899.71,36579992.31

In [ ]:
def currey_format_millions(number): 
    if number isdigit:
    return number/1000000

for column in columns: 
rename_df = column.apply(currey_format_millions)

In [ ]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.

In [ ]:
final_df = rename_df["Total Profit (millions)"].sort_values(ascending = False)]
final_df